/* Plot axes */

.axis line, .axis path {
    stroke-width: 1px;
    stroke: #000;
    fill: none;
}


/* Spinner */

#spin-container {
    display: block;
}

#spinner {
    padding-bottom: 40px;
}

#spin-text {
    text-align: center;
}


/* Range input: http://demo.webstutorial.com/html5-slider */

input[type="range"] {
    -webkit-appearance: none;
    background-color: black;
    height: 1px;
    width: 200px;

    position: relative;
    top: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 1;
    width: 11px;
    height: 11px;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}
