numpy>=1.6.1
pymongo>=2.1.1
scipy>=0.10.0
matplotlib>=1.1.0
h5py>=2.0.0
pyfits>=3.0.5
requests>=0.10.8

-e git+git://github.com/astrometry/pysdss.git#egg=pysdss-dev
-e git+git://github.com/dfm/casjobs.git#egg=casjobs-dev
-e git+git://github.com/dfm/lightcurve.git#egg=lightcurve-dev

Flask>=0.9
