{% extends "base.html" %}

{% block title %}Stripe 82 &mdash; Run {{ run.id }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="{{ url_for('.static', filename='colorbrewer.css') }}" type="text/css">

{% endblock %}

{% block contents %}

    <div class="row">
        <div class="span12 starheader">
            <span>
                <h1>{{ run.id }}</h1>
            </span>
        </div>
    </div>

    <div id="spin-container">
        <div id="spinner"></div>
        <div id="spin-text">Fetching data...</div>
    </div>
    <div class="canvas">
        <span id="ra-canvas"></span>
        <span id="dec-canvas"></span>
    </div>
    <div id="canvas-2d" class="canvas"></div>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for(".static", filename="spin.min.js") }}"></script>
    <script src="{{ url_for(".static", filename="dfmplot.js") }}"></script>

    <script>

        var pl_1d = dfmplot()
                    .width(300)
                    .height(250)
                    .xlabel("R.A.")
                    .ylabel("Zero Point");
        var pl_dec = dfmplot()
                    .width(300)
                    .height(250)
                    .xlabel("Dec.")
                    .ylabel("Zero Point");
        var pl_2d = dfmplot()
                    .xlabel("R.A.")
                    .ylabel("Dec.");

        d3.json("{{ url_for('.run_zeropoint', runid=run.id) }}", function (data) {
            pl_1d("#ra-canvas").plot(data.data,
                               function (d) {
                                   return 0.5 * (d.ramin + d.ramax);
                               },
                               "zero",
                               {"cssclass": "mypoints", "fill": "#222"})
                         .ylim([0, 500])
                         .draw();
            pl_1d.element().on("mousemove", function () {
                var pos = d3.mouse(this),
                    ra0 = pl_1d.xscale().invert(pos[0]),
                    ra_rng = 0.1;
                pl_1d.element().selectAll("rect.box").remove();
                pl_1d.element().append("rect")
                                .attr("class", "box")
                                .attr("x", function () {
                                    return pl_1d.xscale(ra0 - ra_rng);
                                })
                                .attr("width", pl_1d.xscale(ra0 + ra_rng)
                                             - pl_1d.xscale(ra0 - ra_rng))
                                .attr("y", 0)
                                .attr("height", pl_1d.height())
                                .attr("fill", "#f88")
                                .attr("opacity", 0.4);
                var new_data = data.data.filter(function (d) {
                    return d.ramin < ra0 && d.ramax > ra0;
                });

                var selection = pl_dec.element()
                                        .selectAll("circle.datapoints")
                                        .data(new_data);
                selection.enter().append("circle")
                                        .attr("class", "datapoints")
                                        .attr("fill", "#222")
                                        .attr("r", 2);

                selection.attr("cx", function (d) {
                                    return pl_dec.xscale(0.5 * (d.decmin + d.decmax));
                                })
                                .attr("cy", function (d) {
                                    return pl_dec.yscale(d.zero);
                                });
                selection.exit().remove();
            });

            pl_dec("#dec-canvas").plot(data.data,
                               function (d) {
                                   return 0.5 * (d.decmin + d.decmax);
                               },
                               "zero",
                               {"cssclass": "datapoints", "fill": "#222"})
                         .ylim([0, 500])
                         .draw();


            //
            // 2D Plot.
            //
            var ramin = d3.min(data.data, function (d) { return d.ramin; }),
                ramax = d3.max(data.data, function (d) { return d.ramax; }),
                decmin = d3.min(data.data, function (d) { return d.decmin; }),
                decmax = d3.max(data.data, function (d) { return d.decmax; });

            var dra = (ramax - ramin) * pl_2d.padding(),
                ddec = (decmax - decmin) * pl_2d.padding();

            var sigmaClip = function (data, sigma, par) {
                var zmin = d3.min(data, function (d) { return d[par]; }),
                    zmax = d3.max(data, function (d) { return d[par]; }),
                    zmean = d3.median(data, function (d) { return d[par]; }),
                    zvar = d3.mean(data, function (d) {
                        var delta = d[par] - zmean;
                        return delta * delta;
                    });
                _data = [];
                for (var i in data) {
                    var d = data[i],
                        delta = d[par] - zmean;
                    if (delta * delta < sigma * zvar)
                        _data.push(d);
                }
                return _data;
            };

            var _data = data.data, _std = null;
            while (1) {
                _data = sigmaClip(_data, 5, "zero");
                var mu = d3.median(_data, function (d) { return d.zero; });
                var std = Math.sqrt(d3.mean(_data, function (d) {
                    var delta = d.zero - mu;
                    return delta * delta;
                }));
                console.log(Math.abs(_std - std));
                if (_std !== null && Math.abs(_std - std) < 1000) break;
                _std = std;
            }

            var rng = d3.extent(_data, function (d) { return d.zero; }),
                zeromin = rng[0],
                zeromax = rng[1];

            var colorscale = d3.scale.quantile()
                                     .range(d3.range(9))
                                     .domain([zeromin, zeromax]);
            var op = 0.3, title;

            pl_2d("#canvas-2d").append(function (p) {
                p.element().append("g")
                        .attr("class", "PuBu")
                            .selectAll("rect.block").data(data.data)
                        .enter().append("rect")
                            .attr("class", function (d) {
                                return "block q" + colorscale(d.zero) + "-9";
                            })
                            .attr("x", function (d) { return p.xscale(d.ramin); })
                            .attr("y", function (d) { return p.yscale(d.decmax); })
                            .attr("width", function (d) {
                                return p.xscale(d.ramax) - p.xscale(d.ramin);
                            })
                            .attr("height", function (d) {
                                return p.yscale(d.decmin) - p.yscale(d.decmax);
                            })
                            .style("cursor", "pointer")
                            .attr("opacity", op)
                            .on("mouseover", function (d) {
                                d3.select(this).attr("opacity", 1);
                                p.element().selectAll("text.title").remove();
                                p.element().append("text")
                                        .attr("class", "title")
                                        .attr("text-anchor", "middle")
                                        .attr("x", 0.5 * p.width())
                                        .text("Zero Point = " + d.zero);
                            })
                            .on("mouseout", function (d) {
                                d3.select(this).attr("opacity", op);
                                p.element().selectAll("text.title").remove();
                            });
            })
                    .xlim([ramin - dra, ramax + dra])
                    .ylim([decmin - ddec, decmax + ddec])
                    .draw();
        });

    </script>

{% endblock %}
