{% extends "base.html" %}

{% block title %}Stripe 82 &mdash; Stars{% endblock %}

{% block extra_head %}

<style>

    body {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 200;
        font-size: 16px;
        line-height: 1.2em;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
        font-weight: 400;
    }

    #spin-container {
        display: block;
    }

    #spinner {
        padding-bottom: 40px;
    }

    #spin-text {
        text-align: center;
    }

    circle {
        cursor: pointer;
        fill: #111;
        stroke: #111;
        opacity: 0.7;
    }

    .axis line, .axis path {
        stroke-width: 1px;
        stroke: #000;
        fill: none;
    }

</style>

{% endblock %}

{% block contents %}

    <h1>Stripe 82 Stars</h1>
    <p>Note: this is a <i>random sampling</i> of stars in the region.</p>

    <div id="spin-container">
        <div id="spinner"></div>
        <div id="spin-text">Fetching the data...</div>
    </div>

    <div id="canvas"></div>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for(".static", filename="d3.v2.min.js") }}"></script>
    <script src="{{ url_for(".static", filename="spin.min.js") }}"></script>

    <script>

var Display = function (canvasid, w, h) {
    var margin = 50;
    var _this = this;

    h -= 2 * margin;
    w -= 2 * margin;

    this.g = d3.select(canvasid)
                .append("svg")
                    .attr("width", w + 2 * margin)
                    .attr("height", h + 2 * margin)
                .append("g")
                    .attr("transform", "translate(" + margin + ", "
                                                    + margin + ")");
    this.w = w;
    this.h = h;

    this.xscale = d3.scale.linear().range([0, w]);
    this.yscale = d3.scale.linear().range([h, 0]);
    this.rscale = d3.scale.linear().range([0.1, 4]);

    this.xaxis = d3.svg.axis().scale(_this.xscale).ticks(10);
    this.yaxis = d3.svg.axis().scale(_this.yscale).ticks(5).orient("left");

    this.g.append("g").attr("class", "x axis")
                            .attr("transform", "translate(0, " + h + ")");
    this.g.append("g").attr("class", "y axis");
};

Display.prototype.fetch = function (url) {
    var _this = this;
    d3.json(url, function (data) {
        _this.draw(data.data);
    });
};

Display.prototype.draw = function (points) {
    d3.select("#spin-container").style("display", "none");

    var ramin = d3.min(points, function (d) { return d.ra; });
    var ramax = d3.max(points, function (d) { return d.ra; });
    var decmin = d3.min(points, function (d) { return d.dec; });
    var decmax = d3.max(points, function (d) { return d.dec; });
    var gmin = d3.min(points, function (d) { return d.g; });
    var gmax = d3.max(points, function (d) { return d.g; });

    var padding = 0.1;
    var _this = this;

    this.xscale.domain([ramin - padding, ramax + padding]);
    this.yscale.domain([decmin - padding, decmax + padding]);
    this.rscale.domain([gmax, gmin]);

    this.points = this.g.selectAll("circle").data(points)
                        .enter().append("circle")
                            .attr("cx",
                                function (d) { return _this.xscale(d.ra); })
                            .attr("cy",
                                function (d) { return _this.yscale(d.dec); })
                            .attr("r",
                                function (d) { return _this.rscale(d.g); })
                            .on("click",
                                function (d) {
                                    var url = "{{ url_for('.stars') }}";
                                    if (url.substring(url.length - 1,
                                                      url.length) != "/") {
                                        url += "/";
                                    }
                                    window.location = url + d.id;
                                });

    this.g.select(".x.axis").call(_this.xaxis);
    this.g.select(".y.axis").call(_this.yaxis);
};

var w = 800, h = 500;
var d = new Display("#canvas", w, h);

// Set up the spinner.
var spin_opts = {
    lines: 13, length: 5, width: 3, radius: 8, corners: 1, rotate: 0,
    color: '#000', speed: 1, trail: 60, shadow: false, hwaccel: false,
    className: 'spinner', zIndex: 2e9, top: 'auto', left: 'auto'
};
var target = document.getElementById("spinner");
var spinner = new Spinner(spin_opts).spin(target);

// Finally, get the data.
d.fetch("{{ url_for('.sample_stars') }}");

    </script>

{% endblock %}
