{% extends "base.html" %}

{% block title %}Stripe 82 &mdash; Star {{ star.id }}{% endblock %}

{% block extra_head %}

<style>

    body {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 200;
        font-size: 16px;
        line-height: 1.2em;
    }

    circle {
        cursor: pointer;
        fill: #111;
        stroke: #111;
        opacity: 0.7;
    }

    .axis line, .axis path {
        stroke-width: 1px;
        stroke: #000;
        fill: none;
    }

</style>

{% endblock %}

{% block contents %}

    <h1>Star {{ star.id }}</h1>

    <h2>CAS Magnitudes</h2>
    <ul>

        {% for b in ['u', 'g', 'r', 'i', 'z'] %}
        <li>{{ b }}: {{ star[b] }}</li>
        {% endfor %}

    </ul>

    <h2>Raw Photometry</h2>
    <div id="canvas"></div>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for(".static", filename="d3.v2.min.js") }}"></script>

    <script>

var Display = function (canvasid, w, h) {
    var margin = 50;
    var _this = this;

    h -= 2 * margin;
    w -= 2 * margin;

    this.g = d3.select(canvasid)
                .append("svg")
                    .attr("width", w + 2 * margin)
                    .attr("height", h + 2 * margin)
                .append("g")
                    .attr("transform", "translate(" + margin + ", "
                                                    + margin + ")");
    this.w = w;
    this.h = h;

    this.xscale = d3.scale.linear().range([0, w]);
    this.yscale = d3.scale.linear().range([h, 0]);
    this.rscale = d3.scale.linear().range([0.1, 4]);

    this.xaxis = d3.svg.axis().scale(_this.xscale).ticks(4);
    this.yaxis = d3.svg.axis().scale(_this.yscale).ticks(5).orient("left");

    this.g.append("g").attr("class", "x axis")
                            .attr("transform", "translate(0, " + h + ")");
    this.g.append("g").attr("class", "y axis");
};

Display.prototype.fetch = function (url) {
    var _this = this;
    d3.json(url, function (data) {
        _this.draw(data.data);
    });
};

Display.prototype.draw = function (points) {
    var taimin = d3.min(points, function (d) { return d.tai; });
    var taimax = d3.max(points, function (d) { return d.tai; });
    var fluxmin = d3.min(points, function (d) { return d.flux; });
    var fluxmax = d3.max(points, function (d) { return d.flux; });

    var padding = 1;
    var _this = this;

    this.xscale.domain([taimin - padding, taimax + padding]);
    this.yscale.domain([fluxmin - padding, fluxmax + padding]);

    this.points = this.g.selectAll("circle").data(points)
                        .enter().append("circle")
                            .attr("cx",
                                function (d) { return _this.xscale(d.tai); })
                            .attr("cy",
                                function (d) { return _this.yscale(d.flux); })
                            .attr("r", 4);

    this.g.select(".x.axis").call(_this.xaxis);
    this.g.select(".y.axis").call(_this.yaxis);
};

var w = 800, h = 500;
var d = new Display("#canvas", w, h);
d.fetch("{{ url_for('.raw_star', starid=star.id, band=0) }}");

    </script>

{% endblock %}
